.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 40%;
      .app-name {
        margin-top: 0px;
        padding-bottom: 10px;
        font-size: 200%;
        font-weight: bold;
      }
      .login-form {
        padding: 10%;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 10px #ddd;
        input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 30px white inset;
        }
      }
    }
  
    &:after {
      content: "";
      background: #fff;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 50%;
      right: 0;
    }
    &:before {
      content: "";
      background: #AB7441;
      position: absolute;
      top: 50%;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
  .text-center {
    text-align: center;
  }
  .w-100 {
    width: 100%;
  }
  
  .logo {
    width: 40%;
    padding-bottom: 20px;
  }
  
  .error {
    color: crimson;
  }
  .adjustWidth{
    width: 60% !important;
  }
