<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <mat-card-title> {{prod?.name}}</mat-card-title>
    </mat-card-header>

    <mat-carousel timings="250ms ease-in" [autoplay]="autoplay" [interval]="this.interval" [color]="this.color"
        [maxWidth]="this.maxWidth" [proportion]="this.proportion" [slides]="this.slides" [loop]="this.loop"
        [hideArrows]="this.hideArrows" [hideIndicators]="this.hideIndicators" [useKeyboard]="this.useKeyboard"
        [useMouseWheel]="this.useMouseWheel" [orientation]="this.orientation">
        <mat-carousel-slide #matCarouselSlide *ngFor="let slide of slidesList; let i = index" [image]="prod.imagePath"
            overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
    </mat-carousel>

    <mat-card-content>
        <p style='margin-top:10px'>
            {{prod?.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <div fxLayout="column">
            <div fxFlex>
                <div fxLayout="row" *ngIf="!disableQty; else woQty">
                    <div style="font-weight: bold;text-align:center" fxFlex="50">
                        {{prod?.price | currency:'INR'}}</div>
                    <div fxFlex="20">
                        <mat-label>Qty.</mat-label>
                    </div>
                    <div fxFlex="30">
                        <input type='number' class="qty" [(ngModel)]="qty" matInput placeholder="qty">
                    </div>
                </div>
                <ng-template #woQty>
                    <div fxLayout="row">
                        <div style="font-weight: bold;text-align:center" fxFlex="100">
                            {{prod?.price | currency:'INR'}}</div>
                    </div>
                </ng-template>
            </div>
            <div fxFlex>
                <hr />
                <button mat-button (click)="addToCartAction()" title="Add to Cart">
                    <mat-icon>shopping_cart_outline</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>