<div class="login-page" fxLayout="row" fxLayoutAlign="center stretch">
    <div class="content">
        <form [formGroup]="registerForm" class="login-form" fxFlex fxLayout="column" (ngSubmit)="onSubmit()">
            <div class="text-center">
                <h2>Registration</h2>
            </div>
            <ngx-spinner [fullScreen]="false" type="timer" size="medium">
                <p class="loading">Please Wait...</p>
            </ngx-spinner>
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput placeholder="UserName" formControlName="txtUserName" required>
                </mat-form-field>
            </div>
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="email" placeholder="Email" formControlName="txtEmail" required>
                </mat-form-field>
            </div>
            <div fxFlexFill>
                <mat-form-field class="w-100">
                    <input matInput type="password" placeholder="Password" formControlName="txtPwd" required>
                </mat-form-field>
            </div>
            <br />
            <div fxFlexFill>
                <button mat-raised-button color="primary" class="w-100">Submit</button>
            </div>
        </form>
    </div>
</div>